@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Quicksand:wght@300;400;500;600;700&display=swap');
/* font-family: 'Open Sans', sans-serif;
font-family: 'Quicksand', sans-serif; */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tokens */
:root {
  --color-primary: 20 20 20; /* Text, buttons, etc. */
  --color-contrast: 250 250 249; /* Backgrounds, borders, etc. */
  --color-accent: 191 72 0; /* Labels like "On sale" */
  --font-size-fine: 0.75rem; /* text-xs */
  --font-size-copy: 1rem; /* text-base */
  --font-size-lead: 1.125rem; /* text-lg */
  --font-size-heading: 2rem; /* text-2xl */
  --font-size-display: 3rem; /* text-4xl */
  --color-shop-pay: #5a31f4;
  --shop-pay-button--width: 100%; /* Sets the width for the shop-pay-button web component */
  --height-nav: 3rem;
  --screen-height: 100vh;
  --screen-height-dynamic: 100vh;

  @media (min-width: 32em) {
    --height-nav: 4rem;
  }
  @media (min-width: 48em) {
    --height-nav: 6rem;
    --font-size-heading: 2.25rem; /* text-4xl */
    --font-size-display: 3.75rem; /* text-6xl */
  }
  @supports (height: 100svh) {
    --screen-height: 100svh;
  }
  @supports (height: 100dvh) {
    --screen-height-dynamic: 100dvh;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 250 250 250;
    --color-contrast: 32 33 36;
    --color-accent: 235 86 40;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

shop-pay-button {
  width: 100%;
  height: 3rem;
  display: table;
}

@layer base {
  * {
    font-variant-ligatures: none;
  }

  body {
    @apply border-primary/10 bg-contrast text-primary/90 antialiased;
  }

  html {
    scroll-padding-top: 10rem;
  }

  model-viewer::part(default-progress-mask) {
    display: none;
  }

  model-viewer::part(default-progress-bar) {
    display: none;
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  a.active {
    @apply border-b;
  }

  .prose {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:first-child {
        @apply mt-0;
      }
    }
  }
}

@layer components {
  .article {
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-sans text-primary;
    }
    @apply prose mx-auto mb-12 grid justify-center font-serif text-primary;
    p,
    ul,
    li {
      @apply mb-4 text-lg;
    }
    img {
      @apply md:-mx-8 lg:-mx-16;

      @media (min-width: 48em) {
        width: calc(100% + 4rem);
        max-width: 100vw;
      }
      @media (min-width: 64em) {
        width: calc(100% + 8rem);
      }
    }
  }

  .swimlane {
    @apply grid w-full snap-x snap-mandatory scroll-px-6 grid-flow-col justify-start gap-4 overflow-x-scroll px-6 pb-4;
  }
}

@layer utilities {
  .fadeIn {
    opacity: 0;
    animation: fadeInAnimation ease 500ms forwards;
  }

  .hiddenScroll {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .strike {
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 108%;
      height: 1.5px;
      left: -4%;
      top: 50%;
      transform: translateY(-50%);
      background: rgb(var(--color-primary));
      box-shadow: 0.5px 0.5px 0px 0.5px rgb(var(--color-contrast));
      opacity: 0;
    }
  }

  .card-image {
    @apply relative flex items-center justify-center overflow-clip rounded;
    &::before {
      content: ' ';
      @apply absolute top-0 left-0 z-10 block h-full w-full rounded shadow-border;
    }
    img {
      @apply aspect-[inherit] w-full object-cover;
    }
  }
}

/* // ------------------------
// site css */

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #fff;
}
p {
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}
strong {
  font-weight: 700;
}
.container {
  max-width: 1568px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
  @media (max-width: 1650px) {
    max-width: 1420px;
  }
  @media (max-width: 1439px) {
    max-width: 1260px;
  }
  @media (max-width: 1279px) {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1000px;
  }
  @media (max-width: 1023px) {
    max-width: 900px;
  }
  @media (max-width: 991px) {
    max-width: 740px;
  }
  @media (max-width: 767px) {
    padding-left: 25px;
    padding-right: 25px;
    max-width: 100%;
  }
  &.container-fluid-right {
    max-width: 100%;
    padding-right: 0;
    padding-left: calc(calc(100% - 1568px + 120px) / 2);
    padding-left: -webkit-calc(calc(100% - 1568px + 120px) / 2);
    padding-left: -moz-calc(calc(100% - 1568px + 120px) / 2);
    @media (max-width: 1650px) {
      padding-left: calc(calc(100% - 1420px + 120px) / 2);
      padding-left: -webkit-calc(calc(100% - 1420px + 120px) / 2);
      padding-left: -moz-calc(calc(100% - 1420px + 120px) / 2);
    }
    @media (max-width: 1439px) {
      padding-left: calc(calc(100% - 1260px + 120px) / 2);
      padding-left: -webkit-calc(calc(100% - 1260px + 120px) / 2);
      padding-left: -moz-calc(calc(100% - 1260px + 120px) / 2);
    }
    @media (max-width: 1279px) {
      padding-left: calc(calc(100% - 1000px + 80px) / 2);
      padding-left: -webkit-calc(calc(100% - 1000px + 80px) / 2);
      padding-left: -moz-calc(calc(100% - 1000px + 80px) / 2);
    }
    @media (max-width: 1023px) {
      padding-left: calc(calc(100% - 900px + 80px) / 2);
      padding-left: -webkit-calc(calc(100% - 900px + 80px) / 2);
      padding-left: -moz-calc(calc(100% - 900px + 80px) / 2);
    }
    @media (max-width: 991px) {
      padding-left: calc(calc(100% - 740px + 80px) / 2);
      padding-left: -webkit-calc(calc(100% - 740px + 80px) / 2);
      padding-left: -moz-calc(calc(100% - 740px + 80px) / 2);
    }
    @media (max-width: 767px) {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  &.container-fluid-left {
    max-width: 100%;
    padding-left: 0;
    padding-right: calc(calc(100% - 1568px + 120px) / 2);
    padding-right: -webkit-calc(calc(100% - 1568px + 120px) / 2);
    padding-right: -moz-calc(calc(100% - 1568px + 120px) / 2);
    @media (max-width: 1650px) {
      padding-right: calc(calc(100% - 1420px + 120px) / 2);
      padding-right: -webkit-calc(calc(100% - 1420px + 120px) / 2);
      padding-right: -moz-calc(calc(100% - 1420px + 120px) / 2);
    }
    @media (max-width: 1439px) {
      padding-right: calc(calc(100% - 1260px + 120px) / 2);
      padding-right: -webkit-calc(calc(100% - 1260px + 120px) / 2);
      padding-right: -moz-calc(calc(100% - 1260px + 120px) / 2);
    }
    @media (max-width: 1279px) {
      padding-right: calc(calc(100% - 1000px + 80px) / 2);
      padding-right: -webkit-calc(calc(100% - 1000px + 80px) / 2);
      padding-right: -moz-calc(calc(100% - 1000px + 80px) / 2);
    }
    @media (max-width: 1023px) {
      padding-right: calc(calc(100% - 900px + 80px) / 2);
      padding-right: -webkit-calc(calc(100% - 900px + 80px) / 2);
      padding-right: -moz-calc(calc(100% - 900px + 80px) / 2);
    }
    @media (max-width: 991px) {
      padding-right: calc(calc(100% - 700px + 80px) / 2);
      padding-right: -webkit-calc(calc(100% - 700px + 80px) / 2);
      padding-right: -moz-calc(calc(100% - 700px + 80px) / 2);
    }
    @media (max-width: 767px) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

/* Mega menu css */
.mega-menu {
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100%;
  width: 100vw;
   /* display: none; */
}
.main-navbar {
  > .menu-item {
    &:hover {
      > .mega-menu {
        /* display: block; */
      }
      > a {
        background-color: #ccddf1;
        color: #000000;
      }
    }
  }
}
.mega-menu-list {
  ul {
    display: flex;
    flex-flow: column;
    gap: 10px;
  }
  a {
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L1 11' stroke='%231C5F7B' stroke-width='1.25' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    background-size: 6px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 13px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    transition: all 0.5s;
    &:hover {
      opacity: 0.7;
    }
  }
  .brands-logos {
    a {
      background-image: none;
      padding: 0;
    }
    img {
      width: 70px;
      height: auto;
    }
  }
}
.mobile-nav-sec {
  .menu-item {
    &.active {
      .mega-menu {
        display: block;
      }
      .icon {
        transform: rotate(180deg);
      }
    }
    .mega-menu {
      position: relative;
      display: none;
      left: auto;
      right: auto;
      margin: 0;
      width: 100%;
      border-radius: 10px;
    }
    .mega-menu-lists {
      padding-top: 20px;
      padding-bottom: 20px;
      gap: 20px 0;
      .mega-menu-list {
        width: calc(50% - 10px);
        .sub-menu-title {
          word-break: break-word;
          word-wrap: break-word;
        }
        a {
          display: block;
          background-position: left 4px;
        }
      }
    }
  }
}
/* End Mega menu css */

/* Hero slider section  */
.heroslider-section {
  .swiper-wrapper {
    .swiper-slide {
      height: auto;
      @media (max-width: 1023px) {
        height: 100%;
      }
    }
  }
}
/* End Hero slider section  */

/* bestseller-categories-section  */
.bestseller-categories-section {
  .bestseller-item {
    a {
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}
/* End bestseller-categories-section  */

/* NewInTheShop  */
.product-card {
  .img-link {
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
  .product-card-inner {
    .pro-name {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      min-height: 37px;
    }
  }
}
.new-in-Shop-slider {
  .swiper-button-disabled {
    display: none !important;
  }
}
/* End NewInTheShop  */

/*  popularproduct-sec  */
.popularproduct-sec {
  .swiper-button-disabled {
    opacity: 0.3;
  }
}
/* End  popularproduct-sec  */

/* ShoppingByBrands section */
.shopping-by-brands-section {
  .logo-list {
    a {
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}
/* End ShoppingByBrands section */

/* reviews section  */
.reviews-slider {
  .swiper-slide {
    height: auto;
  }
}
/* End reviews section  */

/* faq  */
.faq-section {
  .desc {
    a {
      text-decoration: underline;
      transition: all 0.5s;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
.expandingcard-wrap {
  a {
    text-decoration: underline;
    transition: all 0.5s;
    &:hover {
      opacity: 0.7;
    }
  }
}
/* End faq  */

/* product page  */
.product-summary {
  .product-gallery-wrap {
  }
}
input.appearance-none::-webkit-outer-spin-button,
input.appearance-none::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.appearance-none[type='number'] {
  -moz-appearance: textfield;
}
.pro-detail-desc {
  ul {
    display: flex;
    flex-flow: column;
    gap: 12px;
    li {
      color: #0a627e;
      font-weight: 600;
      display: flex;
      align-items: center;
      flex-flow: wrap;
      gap: 22px;
      .icon {
        width: 30px;
        height: 30px;
        background: #e7efff;
        padding: 6px;
        border-radius: 100%;
        svg,
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .text {
        flex: 1;
      }
    }
  }
}
.slider__col {
  .swiper-slide {
    height: auto;
    border: 1px solid #eee;
    border-radius: 10px;
    > div {
      height: 100%;
    }
  }
}
/* product page  */

/* Product listing page */
.filter-sub-items {
  > li {
    a {
      background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L1 11' stroke='%23292929' stroke-width='1.25' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      background-size: 6px;
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 13px;
      transition: all 0.5s;
    }
    &:hover {
      a {
        background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L1 11' stroke='%230A627E' stroke-width='1.25' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      }
    }
  }
}
.product-grid {
  @media (min-width: 640px) {
    &.product-list {
      display: flex;
      flex-flow: column;
      gap: 0;
      .product-card {
        border-bottom: 1px solid #ccc;
        margin-bottom: 40px;
        padding-bottom: 40px;
        &:last-child {
          padding-bottom: 0;
          margin-bottom: 0;
          border: none;
        }
        .product-card-inner {
          display: block;
          .img-link {
            width: 220px;
            display: block;
            float: left;
            margin-right: 30px;
          }
          .pro-name {
            min-height: auto;
          }
        }
      }
    }
  }
}
/* Product listing page */

/* footer css */
.site-footer {
  .footer-row {
    .footer-col {
      @media (max-width: 1280px) and (min-width: 768px) {
        &:nth-child(4) {
          width: 50%;
        }
        &:nth-child(5) {
          width: 50%;
        }
      }
      @media (max-width: 767px) {
        &:nth-child(4) {
          width: 100%;
        }
        &:nth-child(5) {
          width: 100%;
        }
      }
    }
  }
}
/* End footer css */

/* top bar css */
.top-bar-sec {
  .topbar-list {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    &::-webkit-scrollbar {
      /* WebKit */
      width: 0;
      height: 0;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.mega-menu-div{
  display: none;
}
.is-active{
  display: block;
}
/* End top bar css */
